<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>User list</title>
</head>
<body>
<h1>User list</h1>
<div>
  <table th:border="1">
    <thead>
    <tr>
      <th colspan="4">User List</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>ID</td>
      <td>First_name</td>
      <td>Last_name</td>
      <td>email</td>
    </tr>
    <tr th:each ="user : ${users}">
      <td th:utext="${user.id}"></td>
      <td th:utext="${user.firstName}">...</td>
      <td th:utext="${user.lastName}">...</td>
      <td th:utext="${user.email}">...</td>
      <td><a th:href="@{'/user/'+${user.id}}">edit</a></td>
      <td><a th:href="@{'/delete/'+${user.id}}">delete</a></td>

    </tr>
    </tbody>
  </table>
  <p>
    <a href="/"><strong>Index</strong></a>
  </p>
</div>
</body>
</html>